.paneClass {
  border-radius: 25px;
  border-collapse: collapse;
  overflow: hidden;
  font-size: 1.2em;
  margin: 2px;
}

img {
  width: 100%;
  height: 240px;
}
.description {
  margin: 20px;
}
.details {
  margin: 20px;
}
.water-forest,
.amount {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.7em;
  width: 27%;
  float: left;
  border-collapse: collapse;
}
.co2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.5em;
  margin: 2px;
  color: red;
  width: 27%;
  position: relative;
  float: right;
  border-collapse: collapse;
}
